<partial name="Partial/_Slider"/>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
               <partial name="Partial/_LeftSideBar"/>
            </div>
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                <h4 class="panel-title"><a href="#">Clothing</a></h4>
                <partial name="Partial/_Products"/>
                <partial name="Partial/_CategoryTab"/>
                <partial name="Partial/_RecomendedItems"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="sunglass">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
<<<<<<<<< Temporary merge branch 1
                        </div>

                        <div class="tab-pane fade" id="sunglass">
=========
>>>>>>>>> Temporary merge branch 2
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
<<<<<<<<< Temporary merge branch 1
=========
                        </div>

                        <div class="tab-pane fade" id="kids">
>>>>>>>>> Temporary merge branch 2
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
<<<<<<<<< Temporary merge branch 1
                        </div>

                        <div class="tab-pane fade" id="kids">
=========
>>>>>>>>> Temporary merge branch 2
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
<<<<<<<<< Temporary merge branch 1
=========
                        </div>

                        <div class="tab-pane fade" id="poloshirt">
>>>>>>>>> Temporary merge branch 2
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
<<<<<<<<< Temporary merge branch 1
                        </div>

                        <div class="tab-pane fade" id="poloshirt">
=========
>>>>>>>>> Temporary merge branch 2
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                            <img src="images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                            <img src="~/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Лёгкое чёрное поло</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
                            </div>
<<<<<<<<< Temporary merge branch 1
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                        </div>
                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Рекомендуемые товары</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/images/home/recommend1.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Лёгкое чёрное поло</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>

>>>>>>>>> Temporary merge branch 2
                                        </div>

                                    </div>
                                </div>
<<<<<<<<< Temporary merge branch 1
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
=========
>>>>>>>>> Temporary merge branch 2
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                                <img src="images/home/recommend1.jpg" alt="" />
=========
                                                <img src="~/images/home/recommend2.jpg" alt="" />
>>>>>>>>> Temporary merge branch 2
                                                <h2>$56</h2>
                                                <p>Лёгкое чёрное поло</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                                <img src="images/home/recommend2.jpg" alt="" />
=========
                                                <img src="~/images/home/recommend3.jpg" alt="" />
>>>>>>>>> Temporary merge branch 2
                                                <h2>$56</h2>
                                                <p>Лёгкое чёрное поло</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
<<<<<<<<< Temporary merge branch 1
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/home/recommend3.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
=========
>>>>>>>>> Temporary merge branch 2
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                                <img src="images/home/recommend1.jpg" alt="" />
=========
                                                <img src="~/images/home/recommend1.jpg" alt="" />
>>>>>>>>> Temporary merge branch 2
                                                <h2>$56</h2>
                                                <p>Лёгкое чёрное поло</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                                <img src="images/home/recommend2.jpg" alt="" />
=========
                                                <img src="~/images/home/recommend2.jpg" alt="" />
>>>>>>>>> Temporary merge branch 2
                                                <h2>$56</h2>
                                                <p>Лёгкое чёрное поло</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
<<<<<<<<< Temporary merge branch 1
                                                <img src="images/home/recommend3.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
=========
                                                <img src="~/images/home/recommend3.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Лёгкое чёрное поло</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
>>>>>>>>> Temporary merge branch 2
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>