<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3 margin="10,0,0,0">Заголовок</h3>
    <p>lorem10</p>
</body>
</html>
